@font-face {
    font-family: 'BrushScriptMT'; /*a name to be used later*/
    src: url('BrushScriptMT.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'ComicSansMS'; /*a name to be used later*/
    src: url('ComicSansMS.ttf'); /*URL to font*/
}

body {width: 100%; background-image: url("bg1.jpg");}
a {width:100%;}

.spinner-border {
	width: 100px; 
	height: 100px;
}

.container-fluid {
	color: white;
	font-size: 18px;
	text-shadow: 3px 3px 4px #000000;
	padding: 20px;
	padding-top: 15px;
	background-image: url('denim-texture.jpg');
	background-size:cover;
}

.homewidget.container-fluid {
	min-height: 110px;
}

.wrapper {
	margin: 2% 5%;
}

.round-widget {
    border-radius: 20px;
}

.row {
	margin-bottom: 10px;
}

.left-widget {
	padding-right: 5px;
	padding-left: 0;
}

.right-widget {
	padding-right: 0;
	padding-left: 5px;
}

.widget-w6 {
	max-width: 60%;
}

.widget-w4 {
	max-width: 40%;
}

.shadow {
	box-shadow: 3px 3px 10px grey !important;
}

.title-name {
	color: #0073b5;
	font-family: 'BrushScriptMT';
	font-size: 80px;
	font-weight: bold;
	margin-top: auto;
	padding-left: 15px;
	max-width: 70%;
	z-index: 1;
	line-height: 65px;
}

.title-image {
	max-height: 125px;
	max-width: 25%;
	margin: auto 10px 0px auto;
	z-index: 0;
}

.title-header {
	border-bottom: 1px solid #D0D0D0;
	margin-bottom: 20px;
}	

.sd_title_name {
	color: #0073b5;
	font-family: 'ComicSansMS';
	font-size: 40px;
	font-weight: bold;
	line-height: 40px;
	margin-bottom: 10px;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

#rbdays {
	font-size: 30px;
	line-height: 20px;
}

#foodtable {
	display: table;
	margin-top: 10px;
	text-align: left;
	vertical-align: baseline;
}

.foodtablebutton {
	width: 97px;
	height: 80px;
	font-size: 18px;
    color:white;
    opacity:0.95;
	margin: 3px 3px;
	position:relative;
	overflow: hidden;
}

#foodtable_hk.foodtablebutton {
	background-color: #008bc7; /* For browsers that do not support gradients */        
    background-image: linear-gradient(141deg, #4fcaff 0%, #008bc7 51%, #0077ab 75%);
}

#foodtable_kl.foodtablebutton {
	background-color: #ff0000; /* For browsers that do not support gradients */        
    background-image: linear-gradient(141deg, #ff9c75 0%, #ff0000 51%, #ff3d3d 75%);
}

#foodtable_nt.foodtablebutton {
	background-color: #6fd624; /* For browsers that do not support gradients */        
    background-image: linear-gradient(141deg, #b5ff80 0%, #6fd624 51%, #81bd55 75%);
}

.foodtablebutton .foodtablebuttonimg {
	position:absolute;
	left: 0;
	top:0;
	opacity: 0.3;
	z-index: -1;
	width: 100%;
	height: 100%;
}

.memorywidget.container-fluid {
	min-height: 80px;
}

.MemoryNthDay {
	font-size: 36px;
}

.MemoryButton {
	width: 80px;
}

.MemoryButton {
	/*background-color: #008bc7;  For browsers that do not support gradients         
    background-image: linear-gradient(141deg, #4fcaff 0%, #008bc7 51%, #0077ab 75%); */
	color: darkBlue;
	font-size: 18px;
	width: 90px;
	height: 40px;
}

#next.MemoryButton {
	position: absolute;
	right: 5%;
}

#prev.MemoryButton {
	position: absolute;
	left: 5%;
}

.MemoryViewController {
	margin-top: 10px;
	margin-bottom: 20px;
}

.sheet_target {
	margin-left: 8px; 
	vertical-align: bottom;
}

.controller_pad {
	display: block;
}

.planelement {
	width: 100%;
	font-size: 18px;
	text-align: left;
	background-color: rgba(247, 247, 249, 0.8);
}

.planlist button:focus {
	outline:none;
}

.planlist_fix button:hover {
	cursor: default;
}

.planlist_fix button:focus {
	outline:none;
}

.list-group {
	overflow:hidden;
}
.list-group-item.topbar {
	background-image: url('denim-texture.jpg');
	background-size:cover;
	font-size: 18px;	
	height: 35px;
}	

.foodelement.list-group-item {
	width: 100%;
	text-align: left;
}

#list_ctrller .btn {
	margin-top: 5px;
}