body {background-color: #F5F5F5;}
a {width:100%;}

.spinner-border {
	width: 450px; 
	height: 450px;
}

.container-fluid {
	min-height: 300px;
	color: white;
	font-size: 36px;
}

.round-widget {
    border-radius: 30px;
}

.row {
	margin-bottom: 10px;
}

.left-widget {
	padding-right: 5px;
	padding-left: 0;
}

.right-widget {
	padding-right: 0;
	padding-left: 5px;
}

.widget-w6 {
	max-width: 60%;
}

.widget-w4 {
	max-width: 40%;
}

.wrapper {
	background: white;
	padding: 2% 5%;
	margin-left:auto;
	margin-right:auto;
	max-width: 900px;
}

.title-header {
	border-bottom: 1px solid #DDDDDD;
	margin-bottom: 30px;
	padding-left: 50px;
}	

.title-name {
	color: #0073b5;
	font-family: 'Brush Script MT';
	font-size: 120px;
	font-weight: bold;
	margin-top: auto;
	margin-right: 60px;
}

.sd_title_name {
	color: #0073b5;
	font-family: 'Comic Sans MS';
	font-size: 60px;
	font-weight: bold;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

#rbdays {
	font-size: 80px;
}
