body {width: 100%; background-image: url("bg1.jpg");/*background-color: #F5F5F5;*/}
a {width:100%;}

.bg {
	width: 100%; 
	background-color: #F5F5F5;
	background-image: url("bg1.jpg");
}

.wrapper {
	background-color: rgba(255, 255, 255, 0.5);
	padding: 2% 6%;
	margin-left:auto;
	margin-right:auto;
	max-width: 940px;
}

.shadow {
	box-shadow: 3px 3px 10px grey !important;
}

.spinner-border {
	width: 450px; 
	height: 450px;
	margin-left: auto;
	margin-right: auto;
}

.container-fluid {
	color: white;
	text-shadow: 2px 2px 4px #555555;
}

.memorywidget.container-fluid {
	font-size: 26px;
}

.homewidget.container-fluid {
	min-height: 300px;
	font-size: 36px;
}

.round-widget {
    border-radius: 30px;
}

.row {
	margin-bottom: 10px;
}

.left-widget {
	padding-right: 5px;
	padding-left: 0;
}

.right-widget {
	padding-right: 0;
	padding-left: 5px;
}

.widget-w6 {
	max-width: 60%;
}

.widget-w4 {
	max-width: 40%;
}

.title-header {
	border-bottom: 1px solid #DDDDDD;
	margin-bottom: 30px;
}	

.title-name {
	color: #0073b5;
	font-family: 'Brush Script MT';
	font-size: 120px;
	font-weight: bold;
	margin-top: auto;
	margin-right: 60px;
	margin-left: 50px;
}

.title-image {
	max-height: 200px;
}

.sd_title_name {
	color: #0073b5;
	font-family: 'Comic Sans MS';
	font-size: 60px;
	font-weight: bold;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

#rbdays {
	font-size: 80px;
}

#foodtable {
	display: table;
	margin-top: 30px;
	text-align: left;
	vertical-align: baseline;
}

.memorytable {
	background: red;
}
