@font-face {
    font-family: 'BrushScriptMT'; /*a name to be used later*/
    src: url('BrushScriptMT.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'ComicSansMS'; /*a name to be used later*/
    src: url('ComicSansMS.ttf'); /*URL to font*/
}

body {width: 100%; background-image: url("bg1.jpg");}
a {width:100%;}

.spinner-border {
	width: 100px; 
	height: 100px;
}

.container-fluid {
	color: white;
	font-size: 18px;
	text-shadow: 2px 2px 4px #555555;
}

.memorywidget.container-fluid {
	min-height: 80px;
}

.homewidget.container-fluid {
	min-height: 100px;
}

.wrapper {
	margin: 2% 5%;
}

.round-widget {
    border-radius: 20px;
}

.row {
	margin-bottom: 10px;
}

.left-widget {
	padding-right: 5px;
	padding-left: 0;
}

.right-widget {
	padding-right: 0;
	padding-left: 5px;
}

.widget-w6 {
	max-width: 60%;
}

.widget-w4 {
	max-width: 40%;
}

.shadow {
	box-shadow: 3px 3px 10px grey !important;
}

.title-name {
	color: #0073b5;
	font-family: 'BrushScriptMT';
	font-size: 50px;
	font-weight: bold;
	margin-top: auto;
	padding-left: 15px;
	max-width: 70%;
	z-index: 1;
}

.title-image {
	max-height: 100px;
	max-width: 25%;
	margin-left: auto;
	margin-right: 10px;
	z-index: 0;
}

.title-header {
	border-bottom: 1px solid #D0D0D0;
	margin-bottom: 20px;
}	

.sd_title_name {
	color: #0073b5;
	font-family: 'ComicSansMS';
	font-size: 30px;
	font-weight: bold;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

#rbdays {
	font-size: 30px;
	line-height: 20px;
}

#foodtable {
	display: table;
	margin-top: 10px;
	text-align: left;
	vertical-align: baseline;
}

.MemoryNthDay {
	font-size: 36px;
}

.MemoryButton {
	width: 80px;
}
