.controller_pad {
	position: relative;
}

.ctrl-up, .ctrl-left, .ctrl-right, .ctrl-down, .ctrl-center {
	position: absolute;
	text-align: center;
	font-size: 14px;
}

.ctrl-up-btn, .ctrl-left-btn, .ctrl-right-btn, .ctrl-down-btn, .ctrl-center {
	height: 180px;
	width: 180px;
	background: lightgrey;
	border-radius: 15px;
	border: 1px solid grey;
}

.ctrl-up-btn, .ctrl-left-btn, .ctrl-right-btn, .ctrl-down-btn, .ctrl-center :focus {
    outline: 0 !important;
}

button:active.ctrl-up-btn, button:active.ctrl-left-btn, button:active.ctrl-right-btn, button:active.ctrl-down-btn {
    background-color: white;
}

.ctrl-up {
	top: 0px;
	left: 180px;
}

.ctrl-left {
	top: 180px;
	left: 0px;
}

.ctrl-right {
	top: 180px;
	left: 360px;
}

.ctrl-down {
	top: 360px;
	left: 180px;
}

.ctrl-center {
	top: 180px;
	left: 180px;
	background: lightgrey;
	border-radius: 45%;
	border: 1px solid grey;
}